[program:kafka]
environment=KAFKA_JVM_PERFORMANCE_OPTS="-server -XX:+UseG1GC -XX:MaxGCPauseMillis=20 -XX:InitiatingHeapOccupancyPercent=35 -XX:+DisableExplicitGC -Djava.awt.headless=true" ,LOG_DIR=/data/zk_cluster/kafka_deploy/log,KAFKA_HEAP_OPTS="-Xmx6G -Xms6G"
directory=/data/zk_cluster/kafka_deploy/kafka/bin
command=/bin/bash kafka-server-start.sh /data/zk_cluster/kafka_deploy/kafka/config/server.properties
user=root
stdout_logfile=/data/supervisor/log/kafka.log
stdout_logfile_maxbytes=100MB
stdout_logfile_backups=10
redirect_stderr=true
autostart=true
autorestart=unexpected
exitcodes=0,2
stopsignal=KILL
stopwaitsecs=20
