# The number of milliseconds of each tick
tickTime={{ tick_time|default('2000') }}
# The number of ticks that the initial
# synchronization phase can take
initLimit={{ init_limit|default('10') }}
# The number of ticks that can pass between
# sending a request and getting an acknowledgement
syncLimit={{ sync_limit|default('5') }}
# the directory where the snapshot is stored.
# do not use /tmp for storage, /tmp here is just
# example sakes.
dataDir={{ data_dir|default('/tmp/zookeeper') }}
# the port at which the clients will connect
clientPort={{ client_prot|default('2181') }}
# the maximum number of client connections.
# increase this if you need to handle more clients
#maxClientCnxns=60
#
# Be sure to read the maintenance section of the
# administrator guide before turning on autopurge.
#
# http://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance
#
# The number of snapshots to retain in dataDir
#autopurge.snapRetainCount=3
# Purge task interval in hours
# Set to "0" to disable auto purge feature
#autopurge.purgeInterval=1
{% for server in zookeeper_hosts %}
{% if server.host is defined %}
{% if server.ip is defined %}
server.{{server.id}}={{server.ip}}:2888:3888
{% else %}
server.{{server.id}}={{server.host}}:2888:3888
{% endif %}
{% else %}
server.{{loop.index}}={{server}}:2888:3888
{% endif %}
{% endfor %}
