[program:zookeeper]
environment=ZOO_LOG_DIR=/data/zk_cluster/zk_deploy/log
directory=/data/zk_cluster/zk_deploy/zk/bin
command=/bin/bash zkServer.sh start-foreground
user=root
stdout_logfile=/data/supervisor/log/zookeeper.log
stdout_logfile_maxbytes=100MB
stdout_logfile_backups=10
redirect_stderr=true
autostart=true
autorestart=unexpected
exitcodes=0,2
stopsignal=KILL
stopwaitsecs=20
